<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
<style>
    body{
        font-family: sans-serif
    }
</style>
<body>
<h2 class="m-2">Liste Des Voitures</h2>
<div>
    <table class="table table-striped mt-5">
        <tr>
            <td></td>
            <td></td>
            <td>Serie</td>
            <td>Date MC</td>
            <td>Modele</td>
        </tr>
        {% for v in voitures %}
            <tr>
                <td>{{ v.serie }}</td>
                <td>{{ v.DateMiseEnMarche | date(null, "Europe/Paris") }}</td>
                <td>{{ v.modele }}</td>
                <td><a class="text-danger" href="{{ path("voitureDelete",{'id':v.id}) }}">Supprmier</a></td>
                <td><a href="{{ path("voitureUpdate",{'id':v.id}) }}">MAJ</a></td>
            </tr>
        {% endfor %}
    </table>


</div>

</body>
</html>